# Ignore all vendored deps under each service
services/fetcher/**
services/analyzer/**
services/api/**
services/notify/**

# Except our own code & requirements for each
!services/fetcher/handler.py
!services/fetcher/requirements.txt

!services/analyzer/handler.py
!services/analyzer/requirements.txt
!services/analyzer/strategies/
!services/analyzer/strategies/**

!services/api/handler.py
!services/api/requirements.txt

!services/notify/handler.py
!services/notify/requirements.txt

# And clean up bytecode
**/__pycache__/
**/*.pyc
